@import url('reset.css');
@import url('stylesheet.css');

html {
	height: 100%;
}

body {
	height: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
	height: 15%;
	width: 90%;
	border: 1px solid black;
}

.grid {
  width: 100%;
  height: 50%;
}

.grid2 {
  width: 100%;
  height: 50%;
}

[class*='col-'] {
  float: left;
}

/*  CLEARFIX  */
/*```````````*/
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/*  GUTTERS   */
/*```````````*/
[class*='col-'] {
/*  padding-right: 20px;*/
}


/*   WIDTHS   */
/*```````````*/
.col-2-12 {
  width: 15%;
  text-align: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.col-8-12 {
  height: 100%;
  width: 70%;
}

.col-2-12 {
  height: 100%;
  width: 15%;
}

.col-12-12 {
	height: 100%;
	width: 10%;
	border-right: 1px solid black;
  border-bottom: 1px solid black;
}

[class*='name1-'] {
  float: left;
}

/*  GUTTERS   */
/*```````````*/
[class*='col-'] {
/*  padding-right: 20px;*/
}


/*   WIDTHS   */
/*```````````*/
.name1-2-12 {
  width: 15%;
  text-align: left;
  border-right: 1px solid black;
}
.name1-8-12 {
  height: 100%;
  width: 70%;
}

.name1-2-12 {
  height: 100%;
  width: 15%;
}

.name1-12-12 {
	height: 100%;
	width: 10%;
}

.first-bowl {
	text-align: center;
	height: 50%;
	width: 50%;
	float: left;
	border-right: 1px solid black;
}

.second-bowl {
	text-align: center;
	height: 50%;
	width: 50%;
	float: left;
	border-right: 1px solid black;
}

.round-score {
	height: 50%;
	width: 100%;
	float: left;
	text-align: right;
	border-right: 1px solid black;
	border-top: 1px solid black;
}






